<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../../partials/head'); %>
    </head>

    <body class="container">

        <header>
            <%- include('../../partials/header.ejs'); %>

        </header>

        <main>
            <div class="row">
                <div class="col-sm-12">
                    <div class="jumbotron">
                        <h3>
                            <%= book.title%>
                        </h3>

                        <img src="<%= book.cover %>" alt="Book cover">
                        <p>
                            <%= book.cover %>
                        </p>

                        <small>
                            <%= formatDate(book.createdAt, 'DD MMMM, YYYY' ) %>
                        </small>

                        <h6>Notes:</h6>
                        <p>
                            <%= book.notes%>
                        </p>

                        <h6>Quotes:</h6>
                        <p>
                            <%= book.quotes%>
                        </p>

                        <h6>Created by:</h6>
                        <p>
                            <%= book.user.displayName %>
                        </p>

                    </div>
                </div>

            </div>
        </main>

        <footer>
            <%- include('../../partials/footer.ejs'); %>
        </footer>

        <!-- <script>
            setTimeout( () => {
                document.getElementById( 'image-tag' ).src = '<%= image%>'
            }, 1000 );
        </script> -->
    </body>

</html>